/*@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;600&family=IBM+Plex+Sans:wght@300;600&display=swap');

font-family: 'IBM Plex Mono', monospace;
font-family: 'IBM Plex Sans', sans-serif;

*/

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;600&family=IBM+Plex+Sans:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    font-family: 'IBM Plex Sans', sans-serif;
}

.nav-desktop {
    display: none;
}

h1 {
    font-size: 36px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 42px;
    max-width: 90vw;
    
}

.conteiner-header {
    display: block;
    position: relative;
    width: 100vw;
}

.img-logo {
    height: 25px;
    width: 25px;
    margin: 5vw 0 0 5vw;
}

img {
    width: 100vw;
}


li {    
    list-style: none;
}



p {
    width: 90vw;
}

/*menu hamburgesa*/

.nav-hamb {
    margin: -32px 5vw 0 0;
    width: 100vw;
    position: relative;
    
    
}


.nav-ul{
    display: none;
}

input:checked ~ ul{
    display:block;
    
}

input:checked ~ label > .fas.fa-bars{
    display:none;
}

input:not(:checked) ~ label > .fas.fa-times{
    display:none;
}

input {
    display: none;
}

.fas {
    box-sizing: border-box;
    display: inline-block;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
    position: relative;
    left: 90vw;
    margin-bottom: 5px;
    
}

.nav-ul > li a {
    display: block;
    background:#0000EC 100vw;
    margin: 0;
    padding: 10px;
    width: 100vw;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 28px;
    text-decoration: none;

}

/*FIN MENU HAMBURGESA*/

/*SECTION 1*/

.section1 {
    width: 100vw;
}

.title-podcast {
    font-size: 36px;
    margin: 10vw 0 3vw 5vw;
    font-weight: 300;
}

.description-podcast {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    color: #060A24;
    letter-spacing: 0;    
    line-height: 22px;
    margin: 0 0 0 15px;

}

.tach {
    text-decoration:line-through;
}


.button-know-more {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    color: #060A24;
    line-height: 22px;
    background: #00F3BB;
    width: 288px;
    height: 48px;
    margin: 30px 0 20px 15px;
    border: none;
    font-weight: 600;
}


/*FIN SECTION 1*/

/*INICIO SECTION 2*/
.section2 {
    clip-path: polygon(0 2.5%, 100% 0, 100% 97.5%, 0 100%);
    background: rgb(0,0,255);
    background: linear-gradient(to bottom, rgba(0,0,255,1) 0%, rgba(0,0,163,1) 68%); 
    height: 1340px;
    width: 100vw;
}

.title-section2 {
    float: left;
    margin: 70px 0 40px 20px ;
    font-size: 36px;
    color: #FFFFFF;
    font-weight: 300;
}

iframe {
    width: 100vw;
    margin-top: 21px;
    padding: 0 35px 0 22px;
    height: 232px;
    border: 0px;
    background-color: transparent;
}

/*FIN SECTION 2*/

/*INICIO SECTION 3*/

.section3 {
    width: 100vw;
    margin: -100px 0 0 0;

}

.title-section3 {

    font-size: 36px;
    font-weight: 400;
    margin: 0.5vw 1.5vw 0 5vw;
}

.section3-img {
    width: 90vw;
    position: relative;
    padding-left: 5vw;
}
.section3 p{
    margin: 10px 0 0 5vw;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
    
}

/*FIN SECTION 3*/

/*INICIO SECTION 4*/

.section4 {
    width: 100vw;
}

.section4-title {
    margin: 60px 0 25px 15px;
    font-size: 36px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 42px;
    font-weight: 400;
}

.section4-img {
    line-height: 0;
    display: block;
}

.icon {
    width: 100px;
    height: 100px;
}

/*FIN SECTION 4*/

/*INICIO SECTION 5*/

.section5 {
    width: 100vw;
}

.section5-title {
    font-size: 36px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 42px;
    margin: 40px 0 0 20px;
    font-weight: 400;
}


.section5-conteiner-icon > img {
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
}

.section5-conteiner-icon > p {
    text-align: center;
    font-size: 24px;
    color: #060A24;
    letter-spacing: 0;
    font-weight: bold;
    margin-bottom: 50px;
    width: 100vw;
}
/*FIN SECTION 5*/

/*INICIO SECTION 6*/


.section6 {
    clip-path: polygon(0 12%, 100% 0, 100% 100%, 0% 100%);
    background: rgb(0,0,255);
    background: linear-gradient(to bottom, rgba(0,0,255,1) 0%, rgba(0,0,163,1) 68%);  
    height: 341px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section6-title {
    font-size: 36px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 42px;
    font-weight: 400;
    width: 90vw;
}

.section6-button {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    color: #060A24;
    line-height: 22px;
    background: #00F3BB;
    width: 288px;
    height: 48px;
    margin: 30px 0 20px 0;
    border: none;
    font-weight: 600;
}


/*FIN SECTION 6/

/*INICIO FOOTER*/

.footer-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
    font-size: 14px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
    font-family: 'IBM Plex Mono', monospace
}

.footer-icons-all {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0 30px 0;    
}

.footer-icons {
    width: 16px;
    height: 16px;
}


/*EFECTOS HOVER*/

.button-know-more:hover{
    background: linear-gradient(to right,#00F0B8,#0000FE);
    color: white;
}


/*Medias query para desktop*/

@media screen and (min-width: 768px) {


    .nav-hamb {
        display: none;
    }
    
    .conteiner-header {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
    }

    

    .nav-desktop {
        display: inline-flex;
    }

    .nav-ul-desktop {
        display: inline-flex;
    }

    .nav-ul-desktop li {
        padding: 0 10px;
        margin-right: 5vw;
    }

    .img-logo {
        margin-top: 10px;
    }


    .nav-ul-desktop > li a {
        text-decoration: none;
        font-size: 16px;
        color: #060A24;
        letter-spacing: 0;
        line-height: 28px;
        font-family: 'IBM Plex Mono', monospace;
            }

    .nav-ul-desktop > li a:hover {
        color: #00F3BB;
        font-family: 'IBM Plex Mono', monospace;
        cursor: pointer;
        text-decoration: line-through;
        font-size: 16px;
        
    }

    .nav-ul-desktop > li a:active {
        color: rgba(6,10,36,0.56);
        letter-spacing: 0;
        font-family: 'IBM Plex Mono', monospace;
        cursor: pointer;
        text-decoration: line-through;
    }

    .point {
        color: blue;
    }

    .button-know-more {
        width: 200px;
        margin-left: 5vw;
    }

    .description-podcast {
        font-size: 16px;
        color: #060A24;
        width: 60vw;
        margin-left: 5vw;
    }

    
    .title-section2 {
        padding: 3vw 0 0 10vw;
        margin-top: 185PX;
        
    }

    .iframe-conteiner {
        display: flex;
        width: 100vw;
        flex-wrap: wrap;
        justify-content: center;
        

    }

    iframe {
        width: 45vw;
    }



    .section2 {
        clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
        background: rgb(0,0,255);
        background: linear-gradient(to bottom, rgba(0,0,255,1) 0%, rgba(0,0,163,1) 68%); 
        height: 1043px;
        width: 100vw;
        
    }

    .section3{
        display: flex;
        width: 100vw;  
        justify-content: space-between;
        align-items: center;
        margin: -150px 0 0 0;    
    }


    .section3-conteiner {
        width: 50vw;
        margin: 0 15vw 0 0;
        display: block;
    }

    .title-section3 {
        width: 49vw;
    }
    
    .section3-img{
        z-index: 5;
        max-width: 300px;
        min-width: 400px;
        
    }

    .section3-p{
        width: 49vw;
        
    }

    .section4-conteiner {
        display: flex;
        flex-wrap: wrap;
    }

    .section4-img {
        width: 33.33vw;
        display: flex;
    }

    .section5 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }


    .section5-title {
        display: block;
        width: 100vw;
        margin: 7vw 0 0 10vw;
    }

    .section5-conteiner-icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 18vw;

    }

    .section5-conteiner-icon > img ~ p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 18vw;
    }

    .section6 {
        background: rgb(0,0,255);
        background: linear-gradient(to bottom, rgba(0,0,255,1) 0%, rgba(0,0,163,1) 70%); 
        clip-path: polygon(0 18%, 100% 0, 100% 100%, 0% 100%);
        height: 518px;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 77px;
    }

    .footer .footer-icons-all {
        margin: 10px 50px 10px 0;
    }
    .footer .footer-icons-all a {
        padding: 0 40px 0 0;
    }

    .footer-copyright {
        margin: 10px 0 10px 50px;
        justify-content: space-between;
    }
}